<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{{ url_for( 'static', filename="css/bootstrap.css") }}">


   
    <!-- Bootstrap CSS v5.2.1 
    
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
  />
     <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"


        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script type="text/javascript" src="{{ url_for( 'static', filename="js/bootstrap.js" )}}"></script>
    <script type="text/javascript" src="{{ url_for( 'static', filename="js/popper.min.js" )}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

    -->



  </head>

  <body>
    <nav class="navbar navbar-expand-xxl" style="background-color: #0d4d7a">
      <div class="container">
        <a class="navbar-brand text-light" href="/">pyMyvideos</a>
        <button
          class="navbar-toggler d-lg-none"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavId"
          aria-controls="collapsibleNavId"
          aria-expanded="false"
          aria-label="Toggle navigation"
        ></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle text-light"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Películas
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/add-movie">Agregar</a></li>
                    <li>
                      <a class="dropdown-item" href="/admin/login">Agregar por archivo</a>
                    </li>
                    
                  </ul>
                </li>
              </ul>

            </div>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">Series</a>
            </li>
            
          </ul>

          <span class="navbar-text">
            <div class="btn-group" role="group">
              <form class="d-flex my-2 my-lg-0" action="/search" method="POST">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="opcion" id="inlineRadio1" value="pelicula">
                  <label class="form-check-label text-light" for="inlineRadio1">Película</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="opcion" id="inlineRadio2" value="serie">
                  <label class="form-check-label text-light" for="inlineRadio2">Serie</label>
                </div> 
            </div>
  
          </span>
  
          <div class="d-flex my-2 my-lg-0">
            <input
              class="form-control form-control-sm me-sm-2"
              type="text"
              placeholder="Buscar"
              name="search"
            />
            <button class="btn btn-sm btn-outline-light my-2 my-sm-0" type="submit">
              Buscar
            </button>
          </form>
        </div>
    
      </div>
    </nav>

